<br>
<h3 style="text-align: center;">NEW BOOK</h3>
<br>
<ol class="list-group" style="list-style-type: decimal;">
  <li class="list-group-item"><%= link_to "new book","#"%></li>
  <li class="list-group-item"><%= link_to "new book","#"%></li>
  <li class="list-group-item"><%= link_to "new book","#"%></li>
  <li class="list-group-item"><%= link_to "new book","#"%></li>
  <li class="list-group-item"><%= link_to "new book","#"%></li>
  <li class="list-group-item"><%= link_to "new book","#"%></li>
  <li class="list-group-item"><%= link_to "new book","#"%></li>
  <li class="list-group-item"><%= link_to "new book","#"%></li>
  <li class="list-group-item"><%= link_to "new book","#"%></li>
  <li class="list-group-item"><%= link_to "new book","#"%></li>
  <li class="list-group-item"><%= link_to "new book","#"%></li>
</ol>
<br>
<br>
<br>
