<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>Library</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <div class="jumbotron text-center container" style="text-align: center;">
        <img  src="/assets/top.jpg" class="center-block" style="max-width: 100%;max-height: 100%">
    </div>
  
<div class="container">
  <div class="panel panel-body" >
    <div class="row">
      <div class="col-sm-3 col-md-3 well" style="background-color:  lightgray;" class="text-justify">
        <%= render 'layouts/right' %>
        
      </div>
      <div class="col-sm-7 col-md-9 well" class="text-justify">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
  
      
    </div>
    <div class="panel panel-footer">
      <%= render 'layouts/footer' %>
    </div>
</div>
    
  </body>
</html>
